/*** Sizes ***/

$innerWidth: 1440px;
$spacing-xxl: 25px;
$spacing-xl: 20px;
$spacing-md: 15px;
$spacing-sm: 10px;
$spacing-xs: 5px;

$spacing-extra-xxl: 50px;
$spacing-extra-xl: 45px;
$spacing-extra-md: 40px;
$spacing-extra-sm: 35px;
$spacing-extra-xs: 30px;


/*** Colors ***/

// important colors
$primary-color: #1FDBD5;
$success-color: #1FDB70;
$info-color: #4542D7;

// border color
$border-color: #E2E2E2;

// table styling
$table-border-color: #E9E9E9;
$table-head-bg: #EFEFF5;

// links color
$link-color: #4542D7;
$link-color-secondary: #6148DA;

// text color
$text-color-primary: #32313E;
$text-color-secondary: #494949;
$text-color-light: #838383;
$placeholder-color: #B3B3B3;
$text-color-danger: #D0021B;
$text-color-muted: #808080;
$text-color-warning: #DF8B00;
$text-color-info: #3482DD;

// buttons color
$btn-color-primary: #4542D7;

// icons color
$icon-color-primary: #9C9C9C;

// forms
$border-input: #D6D6D6;
