.claim-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    flex: 1;
    margin: 0;
  }

  a {
    margin-left: 10px;
  }
}

.claim-container {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
