.juvo-statistics {

  .juvo-statistics-item {

    .value {
      color: #000;
      font-size: 40px;
      font-weight: 700;
    }

    .title {
      font-size: 16px;
    }

    .link {
      font-size: 13px;
    }
  }
}
